.padding-titulo{
  /*TITULO COMPARTIDO (TODOS)*/
  padding: 5px 50px
}

a.dropdown-item {
  /*NAVBAR LISTA DESPLEGABLE COLORES*/
  color: map-get($colors, blanco);
}

.nav-contenido ul {
  /*CONTENIDO DE MIMBROS Y ESPORT*/
  list-style: none;
  padding: 0;
  margin: 0; 
  display: flex;
  justify-content:space-around;

}

.subtitulo{
  /*CONTENIDO DE MIEMBROS Y ESPORT*/
  color: map-get($colors, blanco);
  padding: 1rem 100px;
}

  nav li a {
    /*SELECTOR MIEMBROS Y ESPORT*/
    color: map-get($colors, blanco);
    display: block;
    text-decoration: none;
    padding: .5em 1em;
    text-align: center;
  }

.nav-contenido{
  padding-bottom: 1em;
}

  .nav-contenido li a:hover {
    /*SELECTOR HOVER MIEMBROS Y ESPORT*/
    background: map-get($colors, top-end);
    color:map-get($colors, rojo);
  }

  .bloque {
    /*COMPANY STYLE*/
    padding: 0;
    background: black;
  }
  
  .bloque-primero {
    /*COMPANY STYLE*/
    display: flex;
    padding: 17px 18px;
    flex-direction: row;
    justify-content: flex-start;
    color: map-get($colors, blanco);
  }
  
  .bloque-segundo {
    /*COMPANY STYLE*/
    display: flex;
    flex-direction: row;
    color:map-get($colors, rojonegro);
    justify-content: center;
  }
  p.parrafo {
    /*COMPANY STYLE*/
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px 10px;
    font-size: 22px;
    color:map-get($colors, blanco);
    border: 3px map-get($colors, gris) solid;
  }
  
  span.parrafo-negrita {
    /*COMPANY STYLE*/
    font-style: italic;
    color: map-get($colors, rojonegro);
  }
  
.Img__Company{
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


  .bloque-tercero {
    /*COMPANY STYLE*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: map-get($colors, blanco);
  }

ul.ul-remeras {
  /*TIENDA REMERAS STYLE*/
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}

.botones__ropa {
  height: 300px;
  width: 400px;
  max-width: 400px;
  max-height: 500px;
  border-radius: 10px;
  box-shadow: 2px black;
}

.botones__flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}


.w-100{
  /*REMERAS CARUCEL TAMAÑO*/
height: map-get($alturas, grande);
}

.ul-remeras li img { 
  /*LIST STYLE NONE DE LAS REMERAS DE TIENDA*/
  list-style: none;
}

.logos__footer{
  width: auto;
  height: auto;
  max-width: map-get($alturas, chico);
  max-height: map-get($alturas, mediano);
}
.logos__flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.links__flex{
  display: flex;
  flex-direction: column;
}

.img__centro{
  display: flex;
  justify-content: center;
}

.top_end_bg{
      background-image: map-get($colors, top-end);
}

  @media screen and (max-width:1024px) {
  
 nav ul{
    flex-direction: column;
}
  }

@media screen and (max-width:520px){
    
  .icon__flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
  .logos__flex{
        flex-direction: column;
    }

  nav ul {
      flex-direction: column;
     }
    }